<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/teacher.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/student.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='Images/favicon-32x32.png')}}">
    <script src="https://kit.fontawesome.com/b71e9ad4ca.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b71e9ad4ca.js" crossorigin="anonymous"></script>

</head>


<body id="teacher_body">
    <!-- start of the body. Header -->
    <header id="Student_header">
        <a href="{{ url_for('index') }}">
            <img class="Header_logo" id="Phanton_header_logo"
                src="{{ url_for('static', filename='Images/header_logo.svg') }}" alt="Logo" />
        </a>
        <button class="help_center_button" style="margin-top: 2%">
            <a href="{{ url_for('helpPage') }}" class="linkcolorHelp"> Help Center</a>
        </button>
        <button class="help_center_button linkcolorlog" style="margin-top: 2%" onclick="logout()">
            Log Out
        </button>
    </header>
    <!-- wrapper and content classes are needed for footer -->
    <div id="box"></div>
    <div class="wrapper">
        <div class="content">
            <!-- Welcome Section -->
            <div id="student_bg_div">
                <!-- displays the name and class code  -->
                <h1>Welcome, {{first}} {{last}}</h1>
                <h1>Class Code: {{classCode}}</h1>
            </div>
            <!-- search bar -->
            <center>
                <input type="text" class="input-field" onkeyup="myFunction()" id="SeachButton"
                    placeholder="Search Students">
            </center>
            <!-- table for the students -->
            {%if Information[0] != "no students"%}
            <form>
                <table id="teacher_table">
                    <tbody>
                        <!-- the top section -->
                        <tr>
                            <th>Student Name</th>
                            <th>Deletion</th>
                            <th>Rest Passwords</th>
                            <th>Course</th>
                            <th>Lesson</th>
                            <th>Activity</th>
                            <th>Quiz</th>
                            <th>Status</th>


                        </tr>
                    </tbody>
                    {%for i in range(0, len1)%}<!-- START STUDENT NAMES -->
                    <tbody>
                        <!-- name -->
                        <tr>
                            <td rowspan="6" class="search">{{Information[i][1]}} {{Information[i][2]}}</td>
                        </tr>
                        <!-- delete student -->
                        <tr>
                            <td rowspan="6"><button class="table_deletion_btn"
                                    onclick="deleteStudent('{{Information[i][0]}}')">Delete</button></td>
                        </tr>
                        <tr>
                            <td rowspan="5"><a href="{{url_for('reset', email = Email, place='teacher')}}"
                                    class="reset_btn">Reset Password</a></td>
                        </tr>
                        <!-- grades and course -->
                        {%for x in range (0, len2)%} <!-- START COURSE,LESSON,ACTIVITY,QUIZ -->
                        <tr>
                            <td>{{Info2[i][x][0]}}</td>
                            <td>{{Info2[i][x][2]}}</td>
                            <td>{{Info2[i][x][3]}}</td>
                            <td>{{Info2[i][x][4]}}</td>
                            {%if Info2[i][x][5] == True%} <!-- STATUS IF TRUE -->
                            <td>
                                <button type="button" class="table_btn"
                                    onclick="statusFunction('{{Information[i][0]}}','{{Info2[i][x][0]}}', '{{Info2[i][x][5]}}')">
                                    <i class="fa-solid fa-unlock" style="color: #12f012;"></i>
                                </button>
                            </td>
                            {%elif Info2[i][x][5] == False%} <!-- STATUS IF FALSE -->
                            <td>
                                <button type="button" class="table_btn"
                                    onclick="statusFunction('{{Information[i][0]}}','{{Info2[i][x][0]}}', '{{Info2[i][x][5]}}')">
                                    <i class="fa-solid fa-lock" style="color: #ff0000;"></i>
                                </button>
                            </td>
                            {%endif%} <!-- END STATUS IF -->
                        </tr>


                        {%endfor%} <!-- END COURSE,LESSON,ACTIVITY,QUIZ -->
                    </tbody>
                    {%endfor%} <!-- END STUDENT NAMES -->
                </table>
            </form>
            {%else%}
            <center><h1>No students yet</h1></center>
            
            {%endif%}

            <footer>

                <!-- Instagram -->
                <a href="https://www.instagram.com/phanton_learning_team/" target="_blank">
                    <img src="{{ url_for ( 'static', filename = 'Images/Instagram.png')}}" alt="Instagram"
                        class="social_media">
                </a>

                <!-- Facebook -->
                <a href="https://www.facebook.com/profile.php?id=61553930048647" target="_blank">
                    <img src="{{ url_for ( 'static', filename = 'Images/Facebook.png')}}" alt="Facebook"
                        class="social_media">
                </a>

                <!-- Youtube -->
                <a href="https://www.youtube.com/@PhantonLearningTeam" target="_blank">
                    <img src="{{ url_for ( 'static', filename = 'Images/Youtube.png')}}" alt="Youtube"
                        class="social_media">
                </a>

                <!-- X -->
                <a href="https://twitter.com/PhantonTeam" target="_blank">
                    <img src="{{ url_for ( 'static', filename = 'Images/X.png')}}" alt="X" class="social_media">
                </a>

                <br>
                <img id="Phanton_footer_logo" src="{{ url_for ( 'static', filename = 'Images/footer_logo.svg')}}"
                    alt="Logo">
                <a class="FooterLinks" href="{{ url_for('helpPage') }}">Help Center</a>
                <a class="FooterLinks" href="{{url_for('teacherSignUp')}}">Teacher Sign Up</a>
                <a class="FooterLinks" href="{{url_for('aboutUs')}}">About Us</a>

                <hr id="footer_hr">
                <p>
                    We do not claim any videos as our own!
                    Some information was created with the help of ChatGPT!
                    <br>
                    6505 E Hwy 66, El Reno, OK 73036
                    <br>
                    <i>
                        ©2023-2024 Phanton Learning | All Rights Reserved
                    </i>
                </p>
            </footer>
            <script src="{{url_for('static', filename='javascript/global.js')}}"></script>
            <script src="{{url_for('static', filename='javascript/teacher.js')}}"></script>
            <script src="{{url_for('static', filename='javascript/student.js')}}"></script>

</body>

</html>